body {
    background-color: #000040;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

#main-box {
    background-color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 200px;
    width: 430px;
    border-radius: 10px;
}

#main-box h2 {
    color: black;
}

#enter-link-box {
    display: flex;
    flex-direction: row;
}

#input {
    margin-left: 5px;
    margin-right: 5px;
    width: 208px;
}

#getlinkbutton {
    height: 22px;
    width: 22px;
    background-color: #000040;
    display: flex;
    justify-content: center;
    align-items: center;
}

#choose-type-box {
    padding-top: 10px;
}

.link-button {
    background-color: white;
    color: black;
}

.link-button:focus {
    background-color: #000040;
    color: white;
}

#result-box {
    margin-top: 20px;
    height: 120px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#result {
    font-size: 20px;
    margin-bottom: 5px;
}

#result-link {
    font-size: 30px;
    text-decoration: underline;
    font-weight:900;
    color: #00ff00;
}